<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--General-->
    <category label="30100">
		<setting id="download_images" type="bool" label="30101" default="true"/>
		<setting id="resume_playback" type="bool" label="30102" default="true" />
		<setting id="strm_link" type="select" label="30103" values="Official Kodi Addon|Youtube Library" default="Youtube Library" />
		<setting id="debugmode" type="bool" label="30104" default="false" />
		<setting id="mode" type="enum" label="30105" values="basic|normal|expert" default="1" />
	</category>
    <!--Library Settings-->
    <category label="30200">
		<setting id="service_interval" type="select" label="30201" values="5|10|15|30|60|120|240|720|1440" default="30" />
		<setting id="notify_update" type="bool" label="30207" default="true"/>
		<setting id="update_videolibrary" type="bool" label="30202" default="true"/>
		<setting label="30203" type="lsep"/>
		<setting id="tv_folder" type="folder" label="30204" default="special://profile/userdata/addon_data/plugin.video.youtubelibrary/Streams/TV" />
		<setting id="musicvideo_folder" type="folder" label="30205" default="special://profile/userdata/addon_data/plugin.video.youtubelibrary/Streams/MusicVideos" />
		<setting id="movies_folder" type="folder" label="30206" default="special://profile/userdata/addon_data/plugin.video.youtubelibrary/Streams/Movies" />
	</category>
    <!-- Default Playlist Settings -->
    <category label="30300">
		<setting label="30301" type="lsep"/>
		<setting id="default_genre" label="30303" type="text" default="" />
		<setting id="default_tags" label="30314" type="text" default="Youtube" />
		<setting id="default_season" type="select" label="30304" values="year|s2e12|02x12" default="year" />
		<setting id="default_episode" type="select" label="30305" values="default|s2e12|02x12|monthday|pos|" default="default" />
		<setting id="default_minlength" type="time" label="30306" default=""/>
		<setting id="default_maxlength" type="time" label="30307" default=""/>
		<setting id="default_onlyinclude" label="30308" type="text" default="" />
		<setting id="default_excludewords" label="30309" type="text" default="" />
		<setting id="default_stripdescription" label="30310" type="text" default="" />
		<setting id="default_removedescription" label="30311" type="text" default="" />
		<setting id="default_striptitle" label="30312" type="text" default="" />
		<setting id="default_removetitle" label="30313" type="text" default="" />
        <setting id="default_generate_nfo" label="30302" type="bool" default="true" />
        <setting id="default_onlygrab" label="30315" type="select" values="0|1|50|100|250|500|1000|5000|10000" default="5000" />
		<setting id="default_updateevery" label="30316" type="select" values="every 4 hours|every 8 hours|every 12 hours|every 24 hours|every 168 hours|every day|every sunday|every monday|every tuesday|every wednesday|every thursday|every friday|every saturday" default="every 12 hours" />
		<setting id="default_updateat" type="time" label="30317" default="23:59"/>
		<setting id="default_update_gmt" label="30318" type="select" values="Default|Systems Timezone|GMT (UTC)|GMT+1:00|GMT+2:00|GMT+3:00|GMT+3:30|GMT+4:00|GMT+5:00|GMT+5:30|GMT+6:00|GMT+7:00|GMT+8:00|GMT+9:00|GMT+9:30|GMT+10:00|GMT+11:00|GMT+12:00|GMT-11:00|GMT-10:00|GMT-9:00|GMT-8:00|GMT-7:00|GMT-6:00|GMT-5:00|GMT-4:00|GMT-3:30|GMT-3:00|GMT-2:00|GMT-1:00" default="Default" />
		<setting id="default_download_videos" label="30319" type="select" values="off|720p|1080p|best" default="off" />
	</category>    
    <!-- Default Music Video Playlist Settings -->
    <category label="30400">
	
		<setting label="30401" type="lsep"/>
		<setting id="default_musicvideo_tags" type="text" label="30461" default="Youtube" />
		
		<setting id="default_musicvideo_skip_audio" type="bool" label="30465" default="false" />
		<setting id="default_musicvideo_skip_lyrics" type="bool" label="30462" default="false" />
		<setting id="default_musicvideo_skip_live" type="bool" label="30463" default="false" />
		<setting id="default_musicvideo_skip_albums" type="bool" label="30464" default="false" />
		
		<setting id="default_musicvideo_genre" label="30403" type="select" values="hardcoded" default="hardcoded" />
		<setting id="default_musicvideo_genre_fallback" subsetting="true" label="30404" type="select" values="do not add|hardcoded" default="do not add" />
		<setting id="default_musicvideo_genre_hardcoded" subsetting="true" label="30405" type="text" />	
		
		<setting id="default_musicvideo_song_fallback" label="30410" type="select" values="video title|video title (original)|do not add" default="video title" />
		
		<setting id="default_musicvideo_artist" label="30421" type="select" values="video title and description|playlist channelname|video channelname|hardcoded" default="video title and description" />
		<setting id="default_musicvideo_artist_fallback" subsetting="true" label="30422" type="select" values="hardcoded|playlist channelname|video channelname|do not add" default="do not add" />
		<setting id="default_musicvideo_artist_hardcoded" subsetting="true" label="30423" type="text" />	
		
		<setting id="default_musicvideo_album" label="30431" type="select" values="video title and description|published year|hardcoded" default="video title and description" />
		<setting id="default_musicvideo_album_fallback" subsetting="true" label="30432" type="select" values="published year|hardcoded|do not add" default="hardcoded" />
		<setting id="default_musicvideo_album_hardcoded" subsetting="true" label="30433" type="text" default="Unknown" />	
		
		<setting id="default_musicvideo_plot" label="30441" type="select" values="lyrics in video description|video description|playlist description|hardcoded" default="video description" />
		<setting id="default_musicvideo_plot_fallback" subsetting="true" label="30442" type="select" values="hardcoded|video description|playlist description|do not add" default="video description" />
		<setting id="default_musicvideo_plot_hardcoded" subsetting="true" label="30443" type="text" />	
		
		<setting id="default_musicvideo_year" label="30451" type="select" values="video title and description|published year|hardcoded" default="video title and description" />
		<setting id="default_musicvideo_year_fallback" subsetting="true" label="30452" type="select" values="published year|hardcoded|do not add" default="published year" />
		<setting id="default_musicvideo_year_hardcoded" subsetting="true" label="30453" type="text" />	
		
		<setting id="default_musicvideo_minlength" type="time" label="30306" default=""/>
		<setting id="default_musicvideo_maxlength" type="time" label="30307" default=""/>
		<setting id="default_musicvideo_onlyinclude" label="30308" type="text" default="" />
		<setting id="default_musicvideo_excludewords" label="30309" type="text" default="" />
		<setting id="default_musicvideo_stripdescription" label="30310" type="text" default="" />
		<setting id="default_musicvideo_removedescription" label="30311" type="text" default="" />
		<setting id="default_musicvideo_striptitle" label="30312" type="text" default="" />
		<setting id="default_musicvideo_removetitle" label="30313" type="text" default="" />
        <setting id="default_musicvideo_generate_nfo" label="30302" type="bool" default="true" />
        <setting id="default_musicvideo_onlygrab" label="30315" type="select" values="0|1|50|100|250|500|1000|5000|10000" default="5000" />
		<setting id="default_musicvideo_updateevery" label="30316" type="select" values="every 4 hours|every 8 hours|every 12 hours|every 24 hours|every 168 hours|every day|every sunday|every monday|every tuesday|every wednesday|every thursday|every friday|every saturday" default="every 168 hours" />
		<setting id="default_musicvideo_updateat" type="time" label="30317" default="23:59"/>
		<setting id="default_musicvideo_update_gmt" label="30318" type="select" values="Default|Systems Timezone|GMT (UTC)|GMT+1:00|GMT+2:00|GMT+3:00|GMT+3:30|GMT+4:00|GMT+5:00|GMT+5:30|GMT+6:00|GMT+7:00|GMT+8:00|GMT+9:00|GMT+9:30|GMT+10:00|GMT+11:00|GMT+12:00|GMT-11:00|GMT-10:00|GMT-9:00|GMT-8:00|GMT-7:00|GMT-6:00|GMT-5:00|GMT-4:00|GMT-3:30|GMT-3:00|GMT-2:00|GMT-1:00" default="Default" />
		<setting id="default_musicvideo_download_videos" label="30466" type="select" values="off|720p|1080p|best" default="off" />
	</category>
	    <!-- Default Movies Playlist Settings -->
    <category label="30500">
		<setting label="30501" type="lsep"/>
		<setting id="default_movies_genre" label="30503" type="text" default="" />
		<setting id="default_movies_tags" label="30514" type="text" default="Youtube" />
		<setting id="default_movies_set" label="30519" type="text" default="" />
		<setting id="default_movies_smart_search" type="bool" label="30521" default="true" />
		<setting id="default_movies_search_imdb" type="enum" label="30504" values="Yes, fallback on addon settings|Yes, dont add if imdb fails|No, just use addon settings" default="2" />
		<setting label="30505" type="slider" id="default_movies_imdb_match_cutoff" default="75" range="0,5,100" option="int" />
		<setting id="default_movies_use_ytimage" type="enum" label="30520" values="Only if no image found on IMDB|Always|Dont add if no image found on imdb|Never" default="0" />
		<setting id="default_movies_minlength" type="time" label="30506" default=""/>
		<setting id="default_movies_maxlength" type="time" label="30507" default=""/>
		<setting id="default_movies_onlyinclude" label="30508" type="text" default="" />
		<setting id="default_movies_excludewords" label="30509" type="text" default="" />
		<setting id="default_movies_stripdescription" label="30510" type="text" default="" />
		<setting id="default_movies_removedescription" label="30511" type="text" default="" />
		<setting id="default_movies_striptitle" label="30512" type="text" default="" />
		<setting id="default_movies_removetitle" label="30513" type="text" default="" />
        <setting id="default_movies_generate_nfo" label="30502" type="bool" default="true" />
        <setting id="default_movies_onlygrab" label="30515" type="select" values="0|1|50|100|250|500|1000|5000|10000" default="5000" />
		<setting id="default_movies_updateevery" label="30516" type="select" values="every 4 hours|every 8 hours|every 12 hours|every 24 hours|every 168 hours|every day|every sunday|every monday|every tuesday|every wednesday|every thursday|every friday|every saturday" default="every 168 hours" />
		<setting id="default_movies_updateat" type="time" label="30517" default="23:59"/>
		<setting id="default_movies_update_gmt" label="30518" type="select" values="Default|Systems Timezone|GMT (UTC)|GMT+1:00|GMT+2:00|GMT+3:00|GMT+3:30|GMT+4:00|GMT+5:00|GMT+5:30|GMT+6:00|GMT+7:00|GMT+8:00|GMT+9:00|GMT+9:30|GMT+10:00|GMT+11:00|GMT+12:00|GMT-11:00|GMT-10:00|GMT-9:00|GMT-8:00|GMT-7:00|GMT-6:00|GMT-5:00|GMT-4:00|GMT-3:30|GMT-3:00|GMT-2:00|GMT-1:00" default="Default" />
		<setting id="default_movies_download_videos" label="30523" type="select" values="off|720p|1080p|best" default="off" />
	</category>    

    <!--Donor -->
    <category label="30600">
		<setting id="enable_donor" type="bool" label="30604" default="false" />
		<setting id="api_token" type="text" label="30601" default=""/>
		<setting id="api_language" type="select" label="30603" values="none|en|nl|es|ger" default="en" />
		<setting id="api_language2" type="select" label="30603" values="none|en|nl|es|ger" default="none" />
		<setting id="api_language3" type="select" label="30603" values="none|en|nl|es|ger" default="none" />
	</category>    
</settings>

