<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--General-->
    <category label="30100">
		<setting id="service_interval" type="number" label="30101" default="12" />
		<setting id="tv_folder" type="folder" label="30102" default="special://userdata/addon_data/plugin.video.youtubelibrary/Streams/TV" />
    </category>
    <!-- Default Playlist Settings -->
    <category label="30200">
		<setting label="30201" type="lsep"/>
        <setting id="generate_nfo" label="30202" type="bool" default="true" />
    </category>    
</settings>

