<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--General-->
    <category label="30100">
		<setting id="download_images" type="bool" label="30101" default="true"/>
		<setting id="resume_playback" type="bool" label="30102" default="true" />
		<setting id="strm_link" type="select" label="30103" values="Official Kodi Addon|Youtube Library" default="Youtube Library" />
		<setting id="debugmode" type="bool" label="30104" default="false" />
	</category>
    <!--Library Settings-->
    <category label="30200">
		<setting id="service_interval" type="select" label="30201" values="4|8|12|24|48|168" default="12" />
		<setting id="update_videolibrary" type="bool" label="30202" default="true"/>
		<setting label="30203" type="lsep"/>
		<setting id="tv_folder" type="folder" label="30204" default="special://userdata/addon_data/plugin.video.youtubelibrary/Streams/TV" />
	</category>
    <!-- Default Playlist Settings -->
    <category label="30300">
		<setting label="30301" type="lsep"/>
		<setting id="default_genre" label="30303" type="text" default="Youtube" />
		<setting id="default_season" type="select" label="30304" values="year|s2e12|02x12" default="year" />
		<setting id="default_episode" type="select" label="30305" values="default|s2e12|02x12|monthday|pos|" default="default" />
		<setting id="default_minlength" type="time" label="30306" default=""/>
		<setting id="default_maxlength" type="time" label="30307" default=""/>
		<setting id="default_onlyinclude" label="30308" type="text" default="" />
		<setting id="default_excludewords" label="30309" type="text" default="" />
		<setting id="default_stripdescription" label="30310" type="text" default="" />
		<setting id="default_removedescription" label="30311" type="text" default="" />
		<setting id="default_striptitle" label="30312" type="text" default="" />
		<setting id="default_removetitle" label="30313" type="text" default="" />
        <setting id="default_generate_nfo" label="30302" type="bool" default="true" />
	</category>    
</settings>

